<div class="dd-container">
  <div class="form-group content-width">
    <!-- <label for="searchField">Search</label> -->
    <input class="form-control" id="searchField" placeholder="Search user by id, Name, Address"
      [formControl]="queryField">

    <div class="dropdown-menu show-menu content-width" *ngIf="searchResult.length > 0; else norecord">
      <div class="dropdown-item mouse-hover" id="{{ 'item' + i }}" *ngFor="let result of searchResult; let i = index"
        [class.itemHover]="initialIndex === i && enableKeyboard" (mouseenter)="mouseEnter(i)" ngDefaultControl>
        <h6>{{result.id}}</h6>
        <p><em>{{result.name}}</em></p>
        <p>{{result.address}}</p>
      </div>
    </div>
    <ng-template #norecord>
      <div class="dropdown-menu show-menu content-width">
        <div class="dropdown-item">
          <h6>No User found</h6>
        </div>
      </div>
    </ng-template>
  </div>

</div>
